# ignore ALL .log files
*.log
*.asv
*.mat
*.zip

# ignore ALL files in ANY directory named temp
temp/
GliderStudioDataProcessing.m

# initial folders with not great data
0308/
0311/
0313/
0325/
0412/
plots_0412/
0412-2/
0415/

# my checking folder
check/
plots_check/
datadebug/
plots_datadebug/
plots_0415/
do_not_export/

